/* basics/ overordnet*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
body {
  overflow-x: hidden;
}
h1 {
  font-family: rift, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 6rem;

  display: flex;
  justify-content: center;
}

h2 {
  font-family: rift, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  color: #2237c3;
}
h3 {
  font-family: termina, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  color: #2237c3;
  display: flex;
  justify-content: center;
}

p {
  font-family: mr-eaves-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  display: grid;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

/*navigation */

header nav ul {
  max-width: 1200px;
  margin: 0px auto;
}

header ul li {
  margin-left: auto;
  margin-right: auto;
  display: inline;
}
header {
  position: fixed;
  width: 100%;
  top: 0;

  opacity: 80%;
  display: flex;
  justify-content: end;
}
a {
  color: rgb(253, 242, 83);
  text-shadow: 2px 2px #2237c3;
  margin-right: 1rem;
}

a:hover {
  color: #fede6a;
}

.nav_links {
  gap: 10px;
  list-style: none;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
}
.nav_links:hover {
  color: black;
}

.section_1 .tekst {
  text-align: center;
  margin: 4rem;
}

section {
  margin: 1.5rem;
}

.youtube {
  margin: 2rem auto;
  max-width: 70%;
  width: 100%;
  margin: 0 auto;
  place-content: center;
}

iframe {
  aspect-ratio: 16/9;
  padding-block: 1rem;
  width: 100%;
  height: auto;
}

.instagram video {
  width: 50%;
  aspect-ratio: 1/1;
}

.instagram {
  display: grid;
  justify-items: center;
}
@media (min-width: 600px) {
  .section_1 {
    margin: 10rem;
  }

  .section_3 {
    display: grid;
    justify-content: center;
  }

  .billeder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 30px;
    margin: 4rem;
  }

  /* section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 30px;
    margin: 4rem;
  } */
}
