/* basics/ overordnet*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
body {
  overflow-x: hidden;
}

section {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 30px; */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

/*navigation */

header nav ul {
  max-width: 1200px;
  margin: 0px auto;
}

header ul li {
  margin-left: auto;
  margin-right: auto;
  display: inline;
}
header {
  position: sticky;
  top: 0;
  background-color: wheat;
  opacity: 80%;
  display: flex;
  justify-content: end;
}

.nav_links {
  gap: 10px;
  list-style: none;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
}
.nav_links:hover {
  color: black;
}

/* splash section */

video {
  /* position: fixed; */
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.tekst {
  position: absolute;
  bottom: 50%;
  left: 50%;
  color: #f1f1f1;
  width: 100%;
}

/* sectioner */

.section_1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 30px;
  margin: 2rem;
}
<<<<<<< HEAD
=======

.section_2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 30px;
  margin: 2rem;
}

.section_3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 30px;
  margin: 2rem;
}

.section_4 {
  margin: 2rem;
}

.section_5 {
  margin: 2rem;
}

footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 30px;
  background-color: bisque;
}

footer div {
  margin: 2rem;
}
>>>>>>> janne
