/* basics/ overordnet*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

img {
  max-width: 100%;
}

body {
  background-image: linear-gradient(180deg, black, #1b00b1, #fede6a, #ffff);
}

/*SECTION 2*/
.section_6 article {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* grid-template-rows: repeat(7, 1fr); */
}

.section_3 article {
  position: relative;
}

.div1 {
  grid-column: 1/4;
  grid-row: 1/2;
}
.div2 {
  grid-column: 2/5;
  grid-row: 2/3;
}

.div2 h2 {
  color: #fe8828;
}

.div3 {
  grid-column: 3/6;
  grid-row: 3/4;
}

.div3 h2 {
  color: #fdad45;
}

.div4 {
  grid-column: 4/7;
  grid-row: 4/5;
}

.div4 h2 {
  color: #fdc345;
}

.div5 {
  grid-column: 5/8;
  grid-row: 5/6;
}

.div5 h2 {
  color: #fdcc45;
}

.div6 {
  grid-column: 6/9;
  grid-row: 6/7;
}

.turkis {
  color: #a3e7fe;
}

.orange {
  color: #fe6528;
}

.gul {
  color: #fede6a;
}

h1 {
  font-family: rift, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 9rem;
  text-shadow: 6px 6px #2237c3;
  padding: 2rem;
  border: 1px solid #fede6a;
}

h2 {
  font-family: rift, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  color: #2237c3;
}

h3 {
  font-family: termina, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  color: #2237c3;
}

p,
a,
li,
address {
  font-family: mr-eaves-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
}

/*navigation */

header ul li {
  display: inline;
}

.header1 {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: end;
  z-index: 100;
}

.nav_links {
  gap: 10px;
  list-style: none;
  text-decoration: none;
  font-size: 1.5rem;
}

a {
  color: white;
  text-shadow: 2px 2px #2237c3;
  margin-right: 1rem;
}

a:hover {
  color: #fede6a;
}

/* splash section */

#splash_video {
  filter: invert(10%);
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

#splash {
  height: 100vh;
  width: 100vw;
}

.tekst {
  height: 100vh;
  padding: 4rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fede6a;
  width: 100%;
  z-index: 5;
}

/* sectioner */

.section_1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  margin-top: 3em;
}

.section_2 {
  margin: 2rem auto;
  max-width: 70%;
}

.videovideo {
  width: 100%;
  margin: 0 auto;
  place-content: center;
}

iframe {
  aspect-ratio: 16/9;
  padding-block: 1rem;
  width: 100%;
  height: auto;
}

button {
  font-family: termina, sans-serif;
  font-weight: 700;
  color: #2237c3;
  background-color: rgb(255, 255, 255);
  border: 5px solid #2237c3;
  font-size: 3rem;
  padding: 0.4rem;
}

button:hover {
  transform: scale(1.1);
  transition: 0.1s;
  cursor: pointer;
  background-color: #fede6a;
}

.knap {
  display: flex;
  place-content: center;
}

.section_4 {
  margin: 2rem;
  justify-content: center;
}

.section_6 {
  display: grid;
  justify-content: center;
}

footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

footer div {
  margin: 4rem;
}

.app {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem;
}

.app img {
  width: 70%;
  place-self: center;
}

.logo {
  z-index: -1;
  position: absolute;
  aspect-ratio: 1/1;
  /* height: 100%;*/
  width: 70%;
  background-image: url(billeder/logo.png);
  background-size: cover;
  bottom: 0;
  left: -200px;
}

.instagram {
  display: grid;
  gap: 5px;
}

.instagram video {
  width: 100%;
  aspect-ratio: 1/1;
}
.social_media {
  width: 10%;
  display: flex;
  gap: 2rem;
}

@media (max-width: 720px) {
  h1 {
    font-size: 7rem;
  }

  p {
    margin-bottom: 1rem;
  }

  /*SECTION_3*/
  .section_1,
  .section_3,
  .section_4,
  .section_5,
  .section_6 {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .billeder {
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
  }

  button {
    margin: 1rem;
    font-size: 2rem;
  }

  /*SECTION_4*/
  .app img {
    width: 100%;
  }

  .section_6 h2 {
    font-size: 2.5rem;
  }

  .instagram {
    grid-template-columns: 1fr 1fr;
  }

  .logo {
    display: none;
  }
}

@media (min-width: 720px) {
  h1 {
    font-size: 9rem;
  }
  .section_1 {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 30px;
  }

  /*SECTION_3*/
  .section_3 article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    margin: 4rem;
  }

  .billeder {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .plakat1 {
    margin-top: 100px;
  }

  button {
    margin: 2rem;
  }

  .section_4 {
    margin: 4rem;
  }

  .section_1 img {
    order: -1;
    margin: 1rem;
  }

  .app img {
    width: 70%;
  }

  /*SECTION_5*/
  .section_5 {
    margin-left: 20%;
    margin-right: 20%;
  }

  .section_6 h2 {
    font-size: 4.5rem;
  }

  .instagram {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
